<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Django Project | Index Page</title>
        <style>
            body {
                color: whitesmoke;
                background-color: black;
                font-family: Helvetica;
                font-size: medium;
            }
        </style>
        <script>
            function openingMessage() {
                alert("You've opened \"Django Project\" repository!");
            }
            window.onload(openingMessage());
        </script>
    </head>
    <body>
        <h1><b>Welcome!</b></h1>
        <p>Welcome to this GitHub repository! This is a repo showcasing the different things you can do with Django Web Framework!</p>
        <hr>
        <h1><b>About</b></h1>
        <p>I created this project when I decided to try to make a basic Django project. While on autopilot, I pushed it to GitHub!</p>
        <hr>
        <h1><b>Links</b></h1>
        <p>If you want to visit my GitHub Page, click <a href="naad1-max.github.io">here</a>. I have links there to all my other repos, including this one!</p>
        <hr>
        <h2><b><i>Thank You!</i></b></h2>
    </body>
</html>